[defaults]
deprecation_warnings = False
host_key_checking = False

[paramiko_connection]
record_host_keys = False
# 古い暗号化方式を全面的に許可
kex_algorithms = +diffie-hellman-group1-sha1,diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1,diffie-hellman-group-exchange-sha256
host_key_algorithms = +ssh-rsa,ssh-dss

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o KexAlgorithms=+diffie-hellman-group1-sha1,diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1 -o HostKeyAlgorithms=+ssh-rsa,ssh-dss
